a {
    color: black;
}

.header a {
    text-decoration: none
}

.menu .active {
    font-weight: 700
}

div.menu > div {
    margin-right: 8px;
    font-size: 14px

}

div.header {
    align-items: center;
}

.breadcrumb {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: grey;
    text-transform: uppercase;
}

.breadcrumb i {
    color: black;
    margin: 0px 0.5rem;
}


@media only screen and (min-width: 600px) {
    div.menu > div {
        display: inline;
    }
    div.header {
        align-items: baseline
    }
}

