div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 600px) {
    div.cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards > div {
        width: 32%;
    }
}

.play-link {
    padding-right: 0.5em;
}

pre {
    font-family: 'Roboto Mono', 'monospace';
    word-wrap: break-word;
}
